.MuiFormLabel-root.Mui-focused {
  color: white !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
.MuiInputBase-root.MuiInput-root:before {
  border-bottom: 1px solid white !important;
}

.MuiInputBase-root.MuiInput-root:after {
  border-bottom: 1px solid #ada6c5 !important;
}
